/* Restaurant pages fade in loading effect */
.fade-in{
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
    -webkit-animation-duration:1s;
            animation-duration:1s;
    &.one{
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
    }
    &.two{
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
    }
    &.three{
        -webkit-animation-delay: 1.6s;
                animation-delay: 1.6s;
    }
}