.progress {
    display: flex;
    justify-content: center;
    overflow: hidden;
    &__bar {
        border-radius: 2rem;
        background: linear-gradient(-90deg, $secondary, $primary);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5rem;
        width: 80%;
        height: 2rem;
        transform-origin: left;
        transform: scaleX(0.5);
        animation: progress-bar $prog-bar-dur $prog-bar-delay both;
    }
}

.progress-after {
    animation: progress-after 0ms $progress-after-delay both;
}