footer{
    background-color: $dark-grey;
    padding: $padding*2;
    & img{
        filter: invert(100%);
        width: 30%;
    }
    & ul{
        list-style-type: none;
        color: #fff;
        line-height: 2rem;
        padding: 0;
            & i {
                width: 1.8rem;
            }
            & a{
                text-decoration: none;
                color: #FFF;
            }
    }

    & p{
        font-family: $logotitlefont;
        color: #fff;
        margin: 0 0 $margin;
        font-size: 1.2rem;
    }
}