header{
    .fa-arrow-left{
        color: $dark-grey;
        position: absolute;
        left: 1rem;
        top: 1.5rem;
        font-size: 1.3rem;
        line-height: 1rem;
        padding: 0 0.5rem;
    }
}

.main_lapalettedugout{
    display: flex;
    flex-direction: column-reverse;
}

article{
    border-radius: 2rem;
    margin-top: -2rem;
    padding-top: $padding;
    background-color: $light-grey;
    z-index: 1;
    & .title-restaurant-page{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        & i{
            padding: $padding;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: $grey-icons;
        }
    }
    & h1{
        font-family: $logotitlefont;
        font-weight: normal;
        margin: 1rem;
    }
    & .menu{
        padding: $padding;
        & h2{
            text-transform: uppercase;
            font-weight: 300;           
        }
        & span{
            color: transparent;
            border-top: 0.3rem solid $tertiary;
        }
        &__dishcard{
            background-color: white;border-radius: 1rem;
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            margin: $margin 0;
            & h3{
                margin: 0.5rem $margin;
            }
            & p{
                margin: 0.5rem $margin;
                text-overflow: ellipsis;
            }
        }
    }
    & .button-restaurant{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: $margin*2;
        & button{
            @include pink-button;
        }
    }
}

aside>img{
    width: 100%;
    object-fit: cover;
}