header{
    .fa-arrow-left{
        color: $dark-grey;
        position: absolute;
        left: 1rem;
        top: 1.5rem;
        font-size: 1.3rem;
        line-height: 1rem;
        padding: 0 0.5rem;
    }
}

.main_lapalettedugout{
    display: flex;
    flex-direction: column-reverse;
}

article{
    border-radius: 2rem;
    margin-top: -2rem;
    padding-top: $padding;
    background-color: $light-grey;
    z-index: 1;
    & .title-restaurant-page{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        & i{
            padding: $padding;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: $grey-icons;
        }
    }
    & h1{
        font-family: $logotitlefont;
        font-weight: normal;
        margin: 1rem;
    }
    & .menu{
        padding: $padding;
        position: relative;
        & h2{
            text-transform: uppercase;
            font-weight: 300;      
            &::before{
                content: "";
                position: absolute;
                background-color: $tertiary;
                width: 2.5em;
                height: 0.2rem;
                top:4.3rem;
            }     
        }
        &__dishcard{
            background-color: #fff;border-radius: 1rem;
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            margin: $margin 0;
            position: relative;
            overflow: hidden;
            & p{
                padding-right: $padding;
            }
            & .dishcard-text{
                white-space: nowrap;
                overflow: hidden;
                width: 80%;
                & h3{
                    margin: 0.5rem $margin;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                & p{
                    margin: 0.5rem $margin;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            & .dishcard-check{
                background-color: $tertiary;
                width: 25%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(100%);
                & i{
                    color: $tertiary;
                    background-color: #fff;
                    height: 1.8rem;
                    width: 1.8rem;
                    border-radius: 50%;
                    text-align: center;    
                    line-height: 1.8rem;
                    transform: rotate(360deg);
                }
            }
        }
        & :hover > .dishcard-check{
            transform-origin: 100% 0;
            transform: translateX(0);
            transition: transform 600ms ease-in-out;
            & > i{
                transform: rotate(0deg);
                transition: transform 600ms ease-in-out;
            }
        }
    }
    & .button-restaurant{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: $margin*2;
        & button{
            @include pink-button;
        }
    }
}

aside>img{
    width: 100%;
    object-fit: cover;
}