@mixin pink-button {
    border-radius: 2rem;
    padding: $padding $padding*2;
    margin: 1.5rem;
    border: none;
    background: $background-button;
    color: #fff;
    box-shadow: $box-shadow;
    transition: 300ms;
}

@mixin pink-button-hover{
    --x:100%;
    color: $black;
    box-shadow: $box-shadow-hover;
}

@mixin heart-fill{
    font-weight: bold;
    background: linear-gradient(to right, $secondary 0%, $primary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 500ms ease-in-out;
}