@mixin pink-button {
    border-radius: 2rem;
    padding: $padding $padding*2;
    margin: 1.5rem;
    border: none;
    background: $background-button;
    color: white;
    box-shadow: $box-shadow;
}

@mixin dishes-check {
    content: "\f058";
    position: absolute;
    font-family: FontAwesome;
    right: 0;
}

// <i class="fas fa-check-circle">f058</i>