@mixin pink-button {
    border-radius: 2rem;
    padding: $padding $padding*2;
    margin: 1.5rem;
    border: none;
    background: $background-button;
    color: #fff;
    box-shadow: $box-shadow;
    transition: 300ms;
}

@mixin pink-button-hover{
    --x:100%;
    color: $black;
}